[MASTER]
ignore=migrations

[MESSAGES CONTROL]
disable=missing-module-docstring,missing-class-docstring,missing-function-docstring,too-few-public-methods,too-many-ancestors,no-self-use,no-member

[LOGGING]
logging-format-style=new

[FORMAT]
max-line-length=120
